<div class="abmex">
    <div class="chat" id="abmex-chat">
    </div>

    <div class="footer-options">
        <div class="container">
            <div class="row">
                <div class="col-4 faq-option">
                    <span class="material-symbols-outlined" (click)="goHome()">
                        home
                    </span>
                    Início
                </div>
                <div class="col-4 faq-option">
                    <span class="material-symbols-outlined" (click)="goChats()">
                        sms
                    </span>
                    Mensagens
                </div>
                <div class="col-4 faq-option"  (click)="goQuestions()">
                    <span class="material-symbols-outlined">
                        help
                    </span>
                    Ajuda
                </div>
            </div>
        </div>
    </div>
</div>