#abmex-chat {
    height: calc(100vh - 100px);
    width: 100%;
}

@media screen and (min-width: 960px) {
    .abmex-container {
        display: flex;
        justify-content: right;
        align-items: center;
        min-height: 100vh;
    }
    
    .tag {
        max-width: fit-content;
        background-color: #ff6701;
        border-radius: 32px;
        padding: 8px 16px;
        color: #fff;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 8px 0px;
        cursor: pointer;
        p {
            margin: 0px;
            color: #fff;
        }
    }
    
    .abmex-white {
        align-items: center;
        justify-content: center;
        width: 100%;
        background: #FFF;
        padding: 16px 32px;
        height: 100vh;
        box-shadow: rgb(0 0 0 / 16%) 0px 5px 40px;
        overflow: hidden;
        opacity: 1;
        transform-origin: right bottom;
        transition: width 200ms ease 0s, height 200ms ease 0s, max-height 200ms ease 0s, transform 300ms cubic-bezier(0, 1.2, 1, 1) 0s, opacity 83ms ease-out 0s;
        pointer-events: all;
        overflow-y: auto;
        .container {
            padding: 0px;
            width: 100%;
        }
    }
    
    .abmex {
        width: 100%;
        background: #FF6600;
        height: 100vh;
        box-shadow: rgb(0 0 0 / 16%) 0px 5px 40px;
        overflow: hidden;
        opacity: 1;
        transform-origin: right bottom;
        transition: width 200ms ease 0s, height 200ms ease 0s, max-height 200ms ease 0s, transform 300ms cubic-bezier(0, 1.2, 1, 1) 0s, opacity 83ms ease-out 0s;
        pointer-events: all;
        overflow-y: auto;
        display: flex;
        align-items: center;
    }
    
    .abmex-question {
        width: 100%;
        background: #fff;
        bottom: 84px;
        right: 20px;
        height: calc(50vh - 104px);
        box-shadow: rgb(0 0 0 / 16%) 0px 5px 40px;
        border-radius: 16px;
        overflow: hidden;
        opacity: 1;
        transform-origin: right bottom;
        transition: width 200ms ease 0s, height 200ms ease 0s, max-height 200ms ease 0s, transform 300ms cubic-bezier(0, 1.2, 1, 1) 0s, opacity 83ms ease-out 0s;
        pointer-events: all;
        overflow-y: auto;
        .container {
            height: 100%;
    
        }
    }
    
    .logo {
        width: 64px;
    }
    
    .header {
        padding-top: 32px
    }
    
    .hero {
        padding-top: 40px;
        h1 {
            color: #fff;
        }
    }
    
    
    .question-container-header {
        height: 20%;
    }
    
    .question-container-body {
        height: auto;
        padding-bottom: 15px;
        overflow: auto;
    }
    
    .card-faq {
        background: white;
        border-radius: 10px;
        box-shadow: rgb(0 0 0 / 8%) 0px 0px 0px 1px, rgb(0 0 0 / 6%) 0px 2px 8px;
        border-radius: 8px;
        width: 100%;
        margin: 10px auto;
        padding: 8px 0px;
        z-index: 1;
        text-align: center;
        h2 {
            text-align: left;
            padding: 10px 12px;
            font-size: 16px;
            font-weight: 600;
            margin: 0px;
            width: 100%;
            height: 40px;
            box-sizing: border-box;
            padding: 10px 12px;
            font-weight: 600;
            background: rgb(242, 242, 242);
            border-radius: 8px;
            transition: background 250ms ease 0s;
            display: flex;
            align-items: center;
            margin-bottom: 8px;
        }
    }
    
    // .question-container {
    //     height: 100%;
    //     display: flex;
    //     flex-flow: column;
    //     justify-content: space-between;
    // }
    
    .card-faq-question-bot {
        background: rgb(244 246 248);
        border-radius: 10px;
        // box-shadow: rgb(0 0 0 / 8%) 0px 0px 0px 1px, rgb(0 0 0 / 6%) 0px 2px 8px;
        border: 1px solid rgb(216, 220, 222);
        border-radius: 8px;
        width: 100%;
        margin: 10px auto;
        padding: 8px 15px;
        z-index: 1;
        p {
            margin: 0px;
        }
        h2 {
            text-align: left;
            padding: 10px 12px;
            font-size: 16px;
            font-weight: 600;
            margin: 0px;
            width: 100%;
            height: 40px;
            box-sizing: border-box;
            padding: 10px 12px;
            font-weight: 600;
            background: rgb(242, 242, 242);
            border-radius: 8px;
            transition: background 250ms ease 0s;
            display: flex;
            align-items: center;
        }
    }
    
    .thumb-icon {
        width: 48px;
        height: 48px;
        background-color: #FF6600;
        border-radius: 500px;
        display: flex;
        align-items: center;
        justify-content: center;
        span {
            color: #fff;
        }
    }
    
    .card-faq-question-user {
        border: 1px solid rgb(244 246 248);
        background-color: #fff;
        border-radius: 10px;
        // box-shadow: rgb(0 0 0 / 8%) 0px 0px 0px 1px, rgb(0 0 0 / 6%) 0px 2px 8px;
        border: 1px solid rgb(216, 220, 222);
        border-radius: 8px;
        width: 100%;
        margin: 10px auto;
        padding: 8px 15px;
        z-index: 1;
        p {
            margin: 0px;
        }
        h2 {
            text-align: left;
            padding: 10px 12px;
            font-size: 16px;
            font-weight: 600;
            margin: 0px;
            width: 100%;
            height: 40px;
            box-sizing: border-box;
            padding: 10px 12px;
            font-weight: 600;
            background: rgb(242, 242, 242);
            border-radius: 8px;
            transition: background 250ms ease 0s;
            display: flex;
            align-items: center;
        }
    }
    
    .send-btn-question {
        text-align: right;
        margin-top: -44px;
        margin-right: 14px;
    
        span {
            color: #ff6600;
        }
    }
    
    .input-question {
        width: 100%;
        border-radius: 16px;
        border: 2px solid #ff6600;
        padding: 25px 25px;
    }
    
    .faq-question {
        padding: 8px 12px;
        display: flex;
        align-items: center;
        cursor: pointer;
        .faq-question-icon {
            display: flex;
            align-items: center;
            justify-content: flex-end;
        }
        .faq-question-title {
            text-align: left;
            font-size: 14px;
            line-height: 1.5;
        }
        &:hover {
            background-color: rgb(255, 122, 1, 0.6);
            .faq-question-title {
                color: #fe3d01
            }
        }
        span {
            font-size: 18px;
        }
    }
    
    .chat-option {
        &:hover {
            h2 {
                color: #fe3d01
            }
        }
        p {
            font-size: 14px;
            text-align: left;
            padding: 8px 12px;
            margin: 0px;
            font-weight: 400;
            line-height: 1.5;
        }
    
        .chat-option-icon {
            display: flex;
            align-items: center;
        }
    }
    
    .footer-options {
        display: flex;
        flex-direction: row;
        -webkit-box-pack: justify;
        justify-content: space-between;
        font-size: 14px;
        line-height: 21px;
        border-top: 1px solid rgba(0, 0, 0, 0.05);
        box-shadow: rgb(0 0 0 / 5%) 0px 0px 25px;
        background-color: rgb(255, 255, 255);
        height: 80px;
        padding: 0px;
        position: absolute;
        width: 100%;
        bottom: 0px;
    
        .row {
            height: 100%;
            margin: 0px;
        }
        .faq-option {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            span {
                display: block;
            }
        }
    }
}

@media screen and (max-width: 960px) {
    .abmex-container {
        display: flex;
        justify-content: right;
        align-items: center;
        min-height: 100vh;
    }
    
    .tag {
        max-width: fit-content;
        background-color: #ff6701;
        border-radius: 32px;
        padding: 8px 16px;
        color: #fff;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 8px 0px;
        cursor: pointer;
        p {
            margin: 0px;
            color: #fff;
        }
    }
    
    .abmex-white {
        width: 100%;
        background: #FFF;
        min-height: 100vh;
        box-shadow: rgb(0 0 0 / 16%) 0px 5px 40px;
        border-radius: 16px;
        overflow: hidden;
        opacity: 1;
        transform-origin: right bottom;
        transition: width 200ms ease 0s, height 200ms ease 0s, max-height 200ms ease 0s, transform 300ms cubic-bezier(0, 1.2, 1, 1) 0s, opacity 83ms ease-out 0s;
        pointer-events: all;
        overflow-y: auto;
        padding-bottom: 100px;
    }
    
    .abmex {
        width: 100%;
        background: #FF6600;
        bottom: 84px;
        right: 20px;
        min-height: 100vh;
        box-shadow: rgb(0 0 0 / 16%) 0px 5px 40px;
        overflow: hidden;
        opacity: 1;
        transform-origin: right bottom;
        transition: width 200ms ease 0s, height 200ms ease 0s, max-height 200ms ease 0s, transform 300ms cubic-bezier(0, 1.2, 1, 1) 0s, opacity 83ms ease-out 0s;
        pointer-events: all;
        overflow-y: auto;
        padding-bottom: 100px;
    }
    
    .abmex-question {
        border-radius: 12px;
        width: 100%;
        background: #fff;
        box-shadow: rgb(0 0 0 / 16%) 0px 5px 40px;
        overflow: hidden;
        opacity: 1;
        transform-origin: right bottom;
        transition: width 200ms ease 0s, height 200ms ease 0s, max-height 200ms ease 0s, transform 300ms cubic-bezier(0, 1.2, 1, 1) 0s, opacity 83ms ease-out 0s;
        pointer-events: all;
        overflow-y: auto;
        .container {
            height: 100%;
    
        }
    }
    
    .logo {
        width: 64px;
    }
    
    .header {
        padding-top: 32px
    }
    
    .hero {
        padding-top: 40px;
        h1 {
            color: #fff;
        }
    }
    
    
    .question-container-header {
        height: 20%;
    }
    
    .question-container-body {
        height: 50%;
        overflow: auto;
    }
    
    .card-faq {
        background: white;
        border-radius: 10px;
        box-shadow: rgb(0 0 0 / 8%) 0px 0px 0px 1px, rgb(0 0 0 / 6%) 0px 2px 8px;
        border-radius: 8px;
        width: 100%;
        margin: 10px auto;
        padding: 8px 0px;
        z-index: 1;
        text-align: center;
        h2 {
            text-align: left;
            padding: 10px 12px;
            font-size: 16px;
            font-weight: 600;
            margin: 0px;
            width: 100%;
            height: 40px;
            box-sizing: border-box;
            padding: 10px 12px;
            font-weight: 600;
            background: rgb(242, 242, 242);
            border-radius: 8px;
            transition: background 250ms ease 0s;
            display: flex;
            align-items: center;
            margin-bottom: 8px;
        }
    }
    
    // .question-container {
    //     height: 100%;
    //     display: flex;
    //     flex-flow: column;
    //     justify-content: space-between;
    // }
    
    .card-faq-question-bot {
        background: rgb(244 246 248);
        border-radius: 10px;
        // box-shadow: rgb(0 0 0 / 8%) 0px 0px 0px 1px, rgb(0 0 0 / 6%) 0px 2px 8px;
        border: 1px solid rgb(216, 220, 222);
        border-radius: 8px;
        width: 100%;
        margin: 10px auto;
        padding: 8px 15px;
        z-index: 1;
        p {
            margin: 0px;
        }
        h2 {
            text-align: left;
            padding: 10px 12px;
            font-size: 16px;
            font-weight: 600;
            margin: 0px;
            width: 100%;
            height: 40px;
            box-sizing: border-box;
            padding: 10px 12px;
            font-weight: 600;
            background: rgb(242, 242, 242);
            border-radius: 8px;
            transition: background 250ms ease 0s;
            display: flex;
            align-items: center;
        }
    }
    
    .thumb-icon {
        width: 48px;
        height: 48px;
        background-color: #FF6600;
        border-radius: 500px;
        display: flex;
        align-items: center;
        justify-content: center;
        span {
            color: #fff;
        }
    }
    
    .card-faq-question-user {
        border: 1px solid rgb(244 246 248);
        background-color: #fff;
        border-radius: 10px;
        // box-shadow: rgb(0 0 0 / 8%) 0px 0px 0px 1px, rgb(0 0 0 / 6%) 0px 2px 8px;
        border: 1px solid rgb(216, 220, 222);
        border-radius: 8px;
        width: 100%;
        margin: 10px auto;
        padding: 8px 15px;
        z-index: 1;
        p {
            margin: 0px;
        }
        h2 {
            text-align: left;
            padding: 10px 12px;
            font-size: 16px;
            font-weight: 600;
            margin: 0px;
            width: 100%;
            height: 40px;
            box-sizing: border-box;
            padding: 10px 12px;
            font-weight: 600;
            background: rgb(242, 242, 242);
            border-radius: 8px;
            transition: background 250ms ease 0s;
            display: flex;
            align-items: center;
        }
    }
    
    .send-btn-question {
        text-align: right;
        margin-top: -44px;
        margin-right: 14px;
    
        span {
            color: #ff6600;
        }
    }
    
    .input-question {
        width: 100%;
        border-radius: 16px;
        border: 2px solid #ff6600;
        padding: 25px 25px;
    }
    
    .faq-question {
        padding: 8px 12px;
        display: flex;
        align-items: center;
        cursor: pointer;
        .faq-question-icon {
            display: flex;
            align-items: center;
            justify-content: flex-end;
        }
        .faq-question-title {
            text-align: left;
            font-size: 14px;
            line-height: 1.5;
        }
        &:hover {
            background-color: rgb(255, 122, 1, 0.6);
            .faq-question-title {
                color: #fe3d01
            }
        }
        span {
            font-size: 18px;
        }
    }
    
    .chat-option {
        &:hover {
            h2 {
                color: #fe3d01
            }
        }
        p {
            font-size: 14px;
            text-align: left;
            padding: 8px 12px;
            margin: 0px;
            font-weight: 400;
            line-height: 1.5;
        }
    
        .chat-option-icon {
            display: flex;
            align-items: center;
        }
    }
    
    .footer-options {
        display: flex;
        flex-direction: row;
        -webkit-box-pack: justify;
        justify-content: space-between;
        font-size: 14px;
        line-height: 21px;
        border-top: 1px solid rgba(0, 0, 0, 0.05);
        box-shadow: rgb(0 0 0 / 5%) 0px 0px 25px;
        background-color: rgb(255, 255, 255);
        height: 80px;
        padding: 0px;
        position: absolute;
        width: 100%;
        bottom: 0px;
    
        .row {
            height: 100%;
            margin: 0px;
        }
        .faq-option {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            span {
                display: block;
            }
        }
    }
}

.loading-screen {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: fixed;
  padding: 30px;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #FF6600;
  z-index: 1000;

  .loading-spinner {
    border: 8px solid #f3f3f32c;
    border-top: 8px solid #ffffff;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: spin 1s linear infinite;
  }

  p {
    margin-top: 10px;
    color: #ffffff;
    font-size: 18px;
    text-align: center;
  }

  .negativeLink {
    color: #ffffff;
    text-decoration: underline;
    cursor: pointer;
  }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

p, div, h1, h2, h3, h4, h5, h6, li {
    font-family: 'Inter' !important;
}